*{
    box-sizing: border-box;
    h1 { text-decoration-color: chartreuse;   
    }
    
}

link { font-family: 'Lato', sans-serif;
    
    background-color: #ffffff;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	font-weight: 300;
	
}


ul {  
    
    width: 100%;
    text-align:right;
    
    
}

nav ul li{
    display:inline-block;
    background-color: #e8eef7;
    position: fixed;
    background-color: #ffffff;
    
    
    
}

nav a{
    text-decoration-line: none;
text-decoration-color: chartreuse;

}


img {
    
}
